@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authorization

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ClothSwap</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header class="main-header">
        <div class="logo">
            <a asp-controller="Home" asp-action="Index">ClothSwap</a>
        </div>

        <nav>
            <ul class="nav-links">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a href="#">Shop</a></li>
                <li><a href="#">Sell</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>

        <div class="profile-link">
            @await Html.PartialAsync("_UserProfile")
        </div>


    </header>

    <div class="main-content">
        @RenderBody()
    </div>

    <footer>
        <div class="footer-content">
            <div class="copyright">
                &copy; 2025 - ClothSwap -
                <a asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await RenderSectionAsync("AlertScript", required: false)
</body>
</html>
