@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authorization

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ClothSwap</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <header class="main-header">
        <div class="logo">
            <a asp-controller="Home" asp-action="Index">ClothSwap</a>
        </div>

        @using Microsoft.AspNetCore.Identity

        @if (User.Identity.IsAuthenticated)
        {
            if (User.IsInRole("Admin"))
            {
                <nav>
                    <ul class="nav-links">
                        <li><a asp-controller="Users" asp-action="Index">Users</a></li>
                        <li><a href="#">Products</a></li>
                        <li><a href="#">Orders</a></li>
                    </ul>
                </nav>

                <div class="profile-link">
                    @await Html.PartialAsync("_UserProfile")
                </div>
            }
            else
            {
                <nav>
                    <ul class="nav-links">
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-controller="Home" asp-action="ClothingPage">Shop</a></li>
                        <li><a href="#">Sell</a></li>
                        <li><a href="#">Orders</a></li>
                        <li><a href="#">My Purchases</a></li>
                    </ul>
                </nav>

                <div class="profile-link">
                    <a href="/wishlist" class="icon-link"><i class="fas fa-heart"></i></a>
                    <a href="/cart" class="icon-link"><i class="fas fa-shopping-bag"></i></a>
                    @await Html.PartialAsync("_UserProfile")
                </div>
            }
        }
        else
        {
            <nav>
                <ul class="nav-links">
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-controller="Home" asp-action="ClothingPage">Shop</a></li>
                    <li><a asp-controller="Users" asp-action="LoginSignup">Sell</a></li>
                </ul>
            </nav>

            <div class="profile-link">
                @await Html.PartialAsync("_UserProfile")
            </div>
        }



    </header>

    <div class="main-content">
        @RenderBody()
    </div>

    <footer>
        <div class="footer-content">
            <div class="copyright">
                &copy; 2025 - ClothSwap -
                <a asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await RenderSectionAsync("AlertScript", required: false)
</body>
</html>
