@{
    ViewData["Title"] = "Επιτυχής Παραγγελία";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-success">🎉 Ευχαριστούμε για την παραγγελία σας!</h1>
<p>Θα ενημερωθείτε με email μόλις αποσταλεί.</p>
<a href="/" class="btn btn-primary mt-3">Επιστροφή στην αρχική</a>
